/* Estilo da barra superior */
.top-bar {
    background-color: rgb(255, 87, 34); /* Laranja escuro */
    padding: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255); /* Branco */
}

.btn-outline-light {
    color: rgb(255, 255, 255); /* Branco */
    border-color: rgb(255, 255, 255); /* Branco */
}

.btn-outline-light:hover {
    background-color: rgb(255, 255, 255); /* Branco */
    color: rgb(255, 87, 34); /* Laranja escuro */
}

/* Estilo da barra de navegação */
.navbar {
    background-color: rgb(251, 119, 48) !important; /* Laranja */
}

.nav-link {
    color: rgb(255, 255, 255) !important; /* Branco */
    margin-right: 15px;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item:focus-within .nav-link {
    color: rgb(255, 87, 34) !important; /* Laranja escuro */
}

.navbar-nav .nav-item:hover,
.navbar-nav .nav-item:focus-within {
    background-color: rgb(255, 255, 255); /* Branco */
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item:focus-within .nav-link {
    color: rgb(255, 87, 34) !important; /* Laranja escuro */
}

.navbar-nav .nav-item {
    border-radius: 3px; /* Opcional: Adiciona borda arredondada */
    padding: 2px; /* Opcional: Adiciona um pouco de padding para um efeito visual mais agradável */
}

/* Estilo da seção de produtos */
#produtos {
    padding: 20px 0;
    transition: background-color 0.3s ease;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Para garantir que os cards ocupem toda a largura disponível */
    max-width: 300px; /* Limite a largura máxima dos cards */
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
    font-size: 16px;
    text-align: left;
    font-weight: normal;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card-footer .price {
    color: rgb(251, 119, 48); /* Laranja */
    font-weight: bold;
}

.card-footer .availability {
    margin: 0;
    white-space: nowrap;
}

/* Estilo do footer */
footer {
    background-color: rgb(245, 245, 245); /* Branco */
    padding: 15px;
    text-align: left;
    font-size: 14px;
    color: rgb(102, 102, 102); /* Cinza claro */
}

.opcoes { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(0, 0, 0); /* Preto */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}

.opcoes li a {
    text-align: left;
    text-decoration: none;
    color: rgb(102, 102, 102); /* Cinza claro */
}

.pagamentos ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 150px; 
}

.pagamentos li {
    margin: 5px;
}

.pagamentos img {
    width: 40px; 
    height: 40px; 
    object-fit: contain;
}

footer a:hover {
    color: rgb(255, 69, 0); /* Laranja avermelhado */
    text-decoration: none;
}

.siga {
    text-align: left; 
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
}

.social-icons img {
    width: 18px; 
    height: 18px;
    margin-right: 8px;
}

.social-icons a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 7px;
    color: rgb(51, 51, 51); /* Cinza escuro */
}

.social-icons a:hover {
    color: rgb(255, 69, 0); /* Laranja avermelhado */
    text-decoration: none;
}

.qrcode ul li img {
    width: 80px;
    height: 80px;
    text-align: left; 
    object-fit: contain;
}

.direito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-top: 2px solid rgb(204, 204, 204); /* Cinza claro */
    padding-top: 15px; 
}

/* Estilo da seção do carrossel */
#carousel {
    margin: 0 auto;
    padding: 20px 0px 15px;
    max-width: 1200px;
}

/* carrossel baixo */
.oferta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.oferta img{
    width: 1196px;
    padding: 20px 15px;

}

/* Estilo da barra de divisão */
.divider-container {
    display: flex;
    justify-content: center;
}

.divider {
    background-color: rgb(250, 128, 114); /* Salmão */
    height: 2px;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
}

/* Estilo do título da seção de produtos */
#produtos h2 {
    color: rgb(251, 119, 48); /* Laranja */
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* Ajuste para a largura do card */
.card {
    width: 100%;
    max-width: 300px; /* Limita a largura máxima dos cards */
}

/* Ajuste para as colunas de cards */
.row {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards se ajustem em várias linhas */
    gap: 20px; /* Adiciona espaçamento entre as colunas */
}

.col-md-2 {
    flex: 1 0 20%; /* Cada card ocupará 20% da largura da linha */
    display: flex;
    justify-content: center;
}
