body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}
header {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 10px 10px;  
    padding-left: 20px;
    background-color: #ff4500;
    color: white;
}
header img {
    width: 50px;
    height: 50px;
}
header a{
    font-size: 20px;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 15px;
    text-decoration: none;
    color: #ffffff;
}
.title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7f50;
}
.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.menu a:hover {
    color: #ff4500;
    background-color: #ffffff;
}
footer {
    background-color: #fff; 
    padding: 15px;
    text-align: left;
    font-size: 14px;
    color: #666;
}
.opcoes { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}

.opcoes li a {
    text-align: left;
    text-decoration: none;
    color: #666;
}

.pagamentos ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 150px; 
}

.pagamentos li {
    margin: 5px;
}

.pagamentos img {
    width: 40px; 
    height: 40px; 
    object-fit: contain;
}
footer a:hover {
    color: #ff4500; 
    text-decoration: none;
}

.siga {
    text-align: left; 
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
}

.social-icons img {
    width: 18px; 
    height: 18px;
    margin-right: 8px;
}

.social-icons a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 7px;
    color: #333;
}

.social-icons a:hover {
    color: #ff4500; 
    text-decoration: none;
}

.qrcode ul li img {
    width: 80px;
    height: 80px;
    text-align: left; 
    object-fit: contain;
}
.direito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 15px; 
}

/* Responsividade */
/* Para telas menores que 768px (celulares) */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    header img {
        width: 50px;
        height: 50px;
    }

    header a {
        margin: 10px 0;
        font-size: 16px;
    }

    .title {
        font-size: 28px;
        text-align: center;
    }

    .menu {
        flex-direction: column;
    }

    .menu a {
        padding: 10px;
        font-size: 14px;
    }

    .cadastro-container {
        width: 90%;
        margin: 10px auto;
    }

    .cadastro-container input[type="text"],
    .cadastro-container input[type="email"],
    .cadastro-container input[type="password"],
    .cadastro-container input[type="date"],
    .cadastro-container input[type="tel"],
    .cadastro-container button {
        width: 100%;
        padding: 8px;
    }

    footer .opcoes {
        flex-direction: column;
        align-items: center;
    }

    footer .opcoes section {
        margin-bottom: 20px;
    }

    .pagamentos ul {
        justify-content: center;
    }

    .social-icons {
        text-align: center;
    }

    .social-icons li {
        justify-content: center;
    }

    .qrcode ul {
        justify-content: center;
    }

    .direito {
        text-align: center;
    }
}